<mat-sidenav-container>
  <mat-sidenav #drawer class="drawer" mode="side" opened="false" (opened)="draweropen()">
    
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="loggedin === undefined">
      <mat-toolbar color="primary">
        Please wait
      </mat-toolbar>


    </div>

    <div *ngIf="loggedin === 'true'">
      <mat-toolbar color="primary">
        <mat-icon>
          menu
        </mat-icon>

        Tester

        <span fxFlex="grow"></span>

        <div>
          Welcome {{userDisplayName}}!
          <button mat-icon-button>

            <fa-icon (click)="componentLogout()" class="fas faSignOutAlt fa-lg" [icon]="['fas', 'sign-out-alt']">
            </fa-icon>
            <!--signup-->
          </button>
        </div>

      </mat-toolbar>
    </div>

    <div *ngIf="loggedin === 'false'">
      <mat-toolbar color="primary">
        <h1>
          SanityTests
        </h1>

        <span fxFlex="grow"></span>

        <div>
          Welcome User!
          <button mat-icon-button>
            <fa-icon (click)="tutorialService.login()" class="fas faSignInAlt fa-lg" [icon]="['fas', 'sign-in-alt']">
            </fa-icon>
          </button>
        </div>
      </mat-toolbar>
      SHOW SCELETON Menu details
      Show log in dialog
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>